<%= stylesheet_link_tag "topbar", media: "all" %>

<section class="topbar clearfix">
  
  <div class="topbar-left">
  </div>

  <div class="topbar-right">

    <div class="topbar-flash">
      <%= render "layouts/topbar_flashes" %>
    </div>

    <div class="topbar-new">
      <div class="stream-form">
        <form class="create-stream-form" action="<%= streams_url %>" data-remote="true" method="post">
          <div class="new-stream-button">
            <button class="blue-button button create-stream-button">Create Stream</button>
          </div>
          <div class="create-stream-field">
            <label class="input-label">stream Name</label>
            <input type="text" name="stream[name]" class="input-field stream-input-field">
          </div>
        </form>
      </div>
    </div>

</section>