  <form accept-charset="UTF-8" action="<%= post_photos_url %>" class="new-post-photo" enctype="multipart/form-data" id="fileupload" method="post"><div style="margin:0;padding:0;display:inline">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" /></div>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
      <div class="span7">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="button green-button fileinput-button">
          <i class="icon-plus icon-white"></i>
          <span>Add files...</span>
          <input id="upload_upload" name="post_photo[image]" type="file" />
        </span>
        <button type="reset" class="button orange-button cancel">
          <i class="icon-ban-circle icon-white"></i>
          <span>Cancel upload</span>
        </button>
      </div>
    </div>
    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
    </table>
</form>

<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}

  <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
      <div class="upload-progress-bar"><div class="bar" style="width:0%;"></div></div>
    </td>
    <td class="start">{% if (!o.options.autoUpload) { %}
      <button class="button green-button small-button">
        <i class="icon-upload icon-white"></i>
        <span>{%=locale.fileupload.start%}</span>
      </button>
      {% } %}</td>
    {% } else { %}
    <td colspan="2"></td>
    {% } %}
    <td class="cancel">{% if (!i) { %}
      <button class="button orange-button small-button">
        <i class="icon-ban-circle icon-white"></i>
        <span>{%=locale.fileupload.cancel%}</span>
      </button>
      {% } %}</td>
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}
        <td></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
        <td class="preview">{% if (file.thumbnail_url) { %}
          <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
          {% } %}</td>
        <td class="name">
          <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
        </td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td colspan="2"></td>
        {% } %}
      <td class="delete">
        <button class="button red-button small-button" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          <i class="icon-trash icon-white"></i>
          <span>{%=locale.fileupload.destroy%}</span>
        </button>
      </td>
    </tr>
    {% } %}
</script>

<script>
var postPhotoCount = 0;
$("#fileupload").fileupload({
  autoUpload: true
});

$("#fileupload").on("fileuploadfail", function(event, data){
  console.log("error")
  console.log(data)
})

$("#fileupload").on("fileuploaddone", function(event, data){
  var id = data["result"]["files"][0]["id"]
  $("#new_post").prepend("<input type='hidden' name='post[post_photo_ids][]' value='" + id + "'>");
  postPhotoCount += 1;
})

$("#fileupload").on("fileuploadprogress", function(event, data){
  var progress = parseInt(data.loaded / data.total * 100)
  var printout;
  printout = (progress === 100 ? "Processing..." : progress + "%")
  console.log(printout)
  $(".upload-progress-bar").html(printout)
})

$(document).on("drop", function(event){
  event.preventDefault();
})

$(document).on('dragover', function (event) {
  var top = $(".top-drop-border");
  var right = $(".right-drop-border");
  var bottom = $(".bottom-drop-border");
  var left = $(".left-drop-border");
  var message = $(".drop-message");
  timeout = window.dropZoneTimeout;
    if (!timeout) {
        top.addClass("drop-active");
        right.addClass("drop-active");
        bottom.addClass("drop-active");
        left.addClass("drop-active");
        message.addClass("drop-active")
    } else {
        clearTimeout(timeout);
    }

    window.dropZoneTimeout = setTimeout(function () {
        window.dropZoneTimeout = null;
        top.removeClass("drop-active");
        right.removeClass("drop-active");
        bottom.removeClass("drop-active");
        left.removeClass("drop-active");
        message.removeClass("drop-active");
    }, 100);
});
</script>
