<div class="posts-container clearfix">

  <div class="posts-header clearfix">

    <div class="posts-text-container clearfix"> 
      <div class="post-date">
        28 
      </div>
    </div>
    <div class="post-title-container">
      <div class="post-title">
        This is an exceptionally long post title.
      </div>
    </div>
  </div>

  <div class="post-bottom-container clearfix">

    <div class="posts-text-container clearfix">
      <div class="post-under post-border">
        June
      </div>
      <div class="post-under">
        2011
      </div>
    </div>

    <div class="post-body-container clearfix">
      <div class="post-body-metadata">
        Monday, 3:14pm in New York, NY.
      </div>
      <div class="post-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, vitae, aliquid, asperiores qui nihil earum ipsam accusamus ut perferendis iure fugit voluptates assumenda aspernatur pariatur in a soluta molestiae voluptatum.
      </div>
      <div class="post-categories clearfix">
        <div class="category-label">
          Categories
        </div>
        <div class="category">
          lcd soundsystem
        </div>
      </div>
    </div>
  </div>

</div>




<!-- import markdown parser -->
<!-- inject parsed Markdown with JSON -->
<!-- Display as Github-formatted stuff? -->
