<% content_for :head do %>
  <%= stylesheet_link_tag "topbar", media: "all" %>
<% end %>

<section class="topbar clearfix">
  
  <div class="topbar-fullpage-left">
    <div class="topbar-flash">
      <%= render "layouts/topbar_flashes" %>
    </div>
  </div>

  <div class="topbar-fullpage-right">

    <div class="topbar-new">
      <% if @streamid %>
        <div class="create-post-button">
 
        </div>
      <% end %>
    </div>

</section>

<!-- import markdown parser -->
<!-- inject parsed Markdown with JSON -->
<!-- Display as Github-formatted stuff? -->
