<%= render "layouts/leftnavbar" %>

<section class="rightbar">This is a nested index page for the posts of a given stream.</section>

Click <a href="<%= new_stream_post_url(@streamid) %>">here</a> to create a new post in this stream, Stream <%= @streamid %>.
