<%= render "layouts/leftnavbar" %>

<section class="rightbar">
<%= render @post %>
<!-- import markdown parser -->
<!-- inject parsed Markdown with JSON -->
<!-- Display as Github-formatted stuff? -->
</section>