#tree, #tree ul { 
  padding-left: 20px; 
  list-style-type: none;
  cursor: move;
  font: bold 20px "Source Sans Pro";
  line-height: 200%;
  color: black;
}
#tree {
  padding: 20px 0px 0px 20px;
  width: 200px;
}
#tree li {
  margin-top: -6px;
}
#tree .drop_hover {
  background: #aaa;
}
#tree .drop_top {
  background-position: top left;
}
#tree .drop_bottom {
  background-position: bottom left;
}
#tree .drop_insert {
  background-position: 20px 100%;
}