.comments{
  width: 630px;
  margin: auto;
}
.comments ul{
  font-family: "Source Sans Pro";
  font-size: 13px;
  text-align: left;
  background-color: #eee;
}

.comments .comment-text{
  padding-top: 3px;
  padding-bottom: 3px;
}

.comments li{
  border-top: 1px solid #ccc;
  padding: 5px 0px 0px 15px;
}

.comments input{
  width: 95%;
  font-family: "Source Sans Pro";
  font-size: 12px;
  padding: 3px;
  outline: 0;
}

.comments .comment-reply, .comments .comment-delete, .comments .comment-edit{
  float: left;
  font-size: 12px;
  color: #478BC2;
  padding-right: 8px;
}

.comments .comment-reply:hover, .comments .comment-delete:hover, .comments .comment-edit:hover{
  text-decoration: underline;
  cursor: pointer;
}

.comments .comment-time{
  float: left;
  padding-bottom: 3px;
  font-size: 12px;
  padding-right: 3px;
  color: #888;
}

.comments .comment-user{
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: #888;
}

.hidden-comment-form{
  display: none;
}

.comments .comment-field{
  padding: 7px;
  background-color: #eee;
  border-top: 2px solid #ccc;
}