.signin-container, .signup-container{
  max-width: 620px;
  margin: auto;
}

.signin-header, .signup-header{
  margin: auto;
  text-align: center;
  padding: 35px 0 35px 0;
  font-size: 36px;
}

.devise-errors{
  max-width: 270px;
  font-size: 14px;
}

.devise-errors #error-explanation h2{
  font-size: 14px;
}

.signin-label, .signup-label{
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Proxima Nova Cond";
  padding-bottom: 4px;
  padding-top: 10px;
  color: #666;
  border-radius: 5px;
}

.signin-field, .signup-field{
  padding: 10px;
  width: 250px;
  font-size: 18px;
  outline: 0px;
}

.signin-field:hover, .signup-field:hover{
  background-color: #F6F6E4;
}

.signin-field:focus, .signup-field:focus{
  background-color: #ABC9E3;
}

.signin-remember{
  padding: 10px;
}

.signin-remember-label{
  padding: 10px;
}

.signin-options, .signup-options{
  float: left;
  padding-top: 25px;
  padding-right: 20px;
}

.signin-form, .signup-form{
  float: right;
  border-left: 1px dotted #bbb;
  padding-left: 40px
}

.signin-options a, .signup-options a{
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: #71AAD0;
}

.signin-options a:hover, .signup-options a:hover{
  text-decoration: underline;
}

.signin-options a:visited, .signup-options a:visited{
  text-decoration: none;
  color: #71AAD0;
}

.signin-button-container, .signup-button-container{
  float: right;
  padding-top: 20px;
} 

.signin-button, .signup-button{
  background-color: #3E70B1;
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  font-size: 14px;
  color: #EEEEEE;
  padding: 10px 9px;
  border-radius: 3px;
}

.signin-button:hover, .signup-button:hover{
  background-color: #6094C7;
  cursor:pointer;
}

