.drop-border{
  position: fixed;
  background-color: rgb(39, 174, 96);
  z-index: 1000;
  opacity: 0;
}

.top-drop-border{
  height: 6px;
  width: 100%;
  top: 0px;
}

.right-drop-border{
  height: 100%;
  width: 6px;
  right: 0px;
}

.bottom-drop-border{
  height: 6px;
  width: 100%;
  bottom: 0px;
}

.left-drop-border{
  height: 100%;
  width: 6px;
  left: 0px;
}

.drop-message{
  padding: 5px 15px 5px 15px;
  text-align: left;
  border-radius-bottom: 1px;
  font-family: "Source Sans Pro";
  color: #eee;
  top: 6px;
}

.drop-active{
  opacity: 1;
  -webkit-transition: opacity 0.5s;
}

/* Container code */
.new-post-container{
  width: 100%;
  font-family: "Gotham";
  background-color: #fff;
}

.new-post-text-container{
  width: 340px;
  display: block;
}

.new-post-forms-container{
  position: relative;
  width: 820px;
  padding: 20px 70px;
}

.new-post-text-header{
  padding-top: 4px;
  padding-left: 90px;
  display: block;
  float:left;
  border-bottom: 10px solid rgb(230, 230, 230);
  font-size: 36px;
  color: #888;
  text-transform: uppercase;
}

#edit-title{
  background-color: rgb(230, 230, 230);
}

/* Textfield code */

.input-header{
  padding-top: 20px;
  padding-left: 2px;
}

.input-options{
  float: left;
}

.edit-markdown{
  padding: 0;
}

.edit-categories{
  font-family: "Source Sans Pro";
  width: 423px;
}

.select2-result-label{
  font-family: "Source Sans Pro"
}

.input-text-container{
  float: left;
  width: 800px;
}

.live-preview-container{
  width: 360px;
  float: left;
  padding: 30px 0px 0px 30px;
}

.input-textarea{
  display:block;
  float: left;
  /*padding: 10px;*/
  font-size:14px;
  width: 100%;
  height: 300px;
  border-radius: 3px;
  outline: 0px;
  border:1px solid #dedede;
  background-color: rgb(230, 230, 230);
}

.code-edit.ace_editor.active{
  display:block;
}

.ace_editor{
  width: 420px;
  height: 325px;
  position: relative;
  display: none;
}

.ace_editor.active{
  display:block;
}

.live-preview-header-wrap{
  margin: auto;
  width: 400px;
  float:right;
}

.live-preview-header{
  display: none;
  text-align: center;
}

.live-preview-header.active{
  display: block;
  font-weight: bold;
  font-family: "Source Sans Pro";
  font-size: 18px;
}

.live-preview{
  display: none;
}

.live-preview.active{
  display: block;
  float:left;
  font-family: "Source Sans Pro";
}

.input-clear-button{
  float: right;
  display: block;
}

.clear-button{
}

.category-field{
  display: block;
}

/*This is the text field for plaintext and code.*/

.file-input{
  width: 200px;
}

.file-chooser{
  display:block;
}

#markdown-edit{
  display: none;
}

#markdown-edit.active{
  display: block;
}

#markdown-content{
    height: 200px;
}

.markdown-body{
  font-family: "Source Sans Pro";
  padding-top: 20px;
}

input[type=radio] {
    display:none;
}

input[type=radio] + label {
    text-transform: uppercase;
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#ececec);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#ececec));
    background-image: -webkit-linear-gradient(top,#fff,#ececec);
    background-image: -o-linear-gradient(top,#fff,#ececec);
    background-image: linear-gradient(to bottom,#fff,#ececec);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
/*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/
/*    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);*/
}
 
input[type=radio] + label:hover{
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

input[type=radio]:checked + label {
    background-image: none;
    outline: 0;
/*    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);*/
    background-color:rgb(230, 230, 230);
}

.map_container{
  width: 820px;
  box-shadow: none;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.google-map{
  width: 820px;
  height: 300px;
  box-shadow: none;
  margin: 0px;
}

.location.input-field{
  width: 805px;
  background-color: rgb(230, 230, 230);
}

.ui-corner-all{
  border-radius: 0;
}

/* jQuery New Post Photos */

.new-post-photos{
  min-height: 300px;
}

.upload-progress-bar{
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 400;
}

#create-post-button{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.template-upload{
  font-style: 14px;
  border-bottom: rgb(230, 230, 230);
}

.template-upload td{
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.template-upload td span{
  color: #aaa;
  font-size: 14px;
  padding: 0px 10px;
}

.template-download{
  font-size: 14px;
}

.template-download td{
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.template-download .name a{
  display: block;
  color: #478BC2;
  font-size: 14px;
  padding: 0px 15px;
  text-decoration: none;
}

.template-download .name a:hover{
  text-decoration: underline;
}

/* Google autocomplete - Places AutoComplete*/
.pac-item{
  font-family: "Source Sans Pro";
  padding: 10px;  
  font-weight: normal;
}

.pac-item.pac-selected{
  background-color: #ABC9E3;
}

.pac-item:hover{
  background-color: #F6F6E4;
}

/* The tag box itself, I think */
.select2-container-multi .select2-choices {
margin: 0;
padding: 0;
position: relative;
border: 0px;
outline: 0px;
cursor: text;
overflow: hidden;
background-color: rgb(230, 230, 230);
background-image: none;
}

/* When there is focus on the box at first, before you start typing. */
.select2-container-multi.select2-container-active .select2-choices{
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* The bottom of the box when the list of suggested tags is active.*/
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices{
  background-image: none;
  border: 0px;
}

/* The menu of choices that pops up when you start typing */
.select2-drop.select2-drop-multi.select2-display-none.select2-drop-active.select2-drop-above{
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* The tag itself. */
.select2-container-multi .select2-choices .select2-search-choice{
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  margin: 5px 5px 3px 4px;
  padding: 4px 17px 4px 22px;
  border: 1px solid #ccc;
  background-color: #ddd;
  color: #777;
  font-size: 14px;
  font-family: "Source Sans Pro";
  border-radius: 20px;
}

/* When the tag is focused, i.e. when it can be deleted with one more backspace.*/
.select2-container-multi .select2-choices .select2-search-choice-focus{
  background-color: #999;
  color: #eee;
}