.newpost{
}

.new{
  font-family: "calluna", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 3em;
}

.postdot{
  font-family: "calluna", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 3em;
}

.input-header{
  padding-top: 20px;
  padding-left: 2px;
}

.input-label{
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Proxima Nova Cond";
  padding-bottom: 4px;
  padding-top: 10px;
  color: #666;
  border-radius: 5px;
}

.input-field{
  padding: 9px;
  min-width: 400px;
  font-size: 18px;
  outline: 0px;
}

.input-field:hover{
  background-color: #F6F6E4;
}

.input-field:focus{
  background-color: #ABC9E3;
}

.input-options{
  float: left;
}

.edit-markdown{
  padding: 0;
}

.edit-categories{
  font-family: "Source Sans Pro";
  width: 423px;
}

.select2-result-label{
  font-family: "Source Sans Pro"
}

.input-textarea{
  display:block;
  float: left;
  padding: 10px;
  font-size:14px;
  width: 650px;
  height: 300px;
  border-radius: 3px;
  outline: 0px;
  border:1px solid #dedede;
}

.live-preview-header-wrap{
  margin: auto;
  width: 400px;
  float:right;
}

.live-preview-header{
  display: none;
}

.live-preview-header.active{
  display: block;
  font-weight: bold;
  font-family: "Source Sans Pro";
  font-size: 18px;
}

.live-preview{
  display: none;
}

.live-preview.active{
  display: block;
  float:left;
  font-family: "Source Sans Pro"
}

.clear-button{
  border: 0;
  background-color: #8C313A;
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  font-size: 14px;
  color: #EEEEEE;
  padding: 6px 10px;
  margin-left: 350px;
  border-radius: 3px;
}

/*This is the text field for plaintext and code.*/
.new-post-body{

}

.new-post-photos{
  float:left;
  padding-bottom: 20px;
}

.file-input{
  width: 200px;
}

.file-chooser{
  display:block;
}

#markdown-content{
    height: 200px;
}

.markdown-body{
  font-family: "Source Sans Pro";
}

input[type=radio] {
    display:none;
}

input[type=radio] + label {
    text-transform: uppercase;
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
 
input[type=radio] + label:hover{
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

input[type=radio]:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        background-color:#e0e0e0;
}
