.post-header{
}

.show-post-image{
  display: block;
}

.show-post-content{
  padding: 20px 20px 20px 50px;
}

.post-header{
  float:left;
  font-size: 2.5em;
  border-right: 1px solid #666;
  text-align: center;
}

.post-header .date{
  display:block;
  font-size: 40px;
  padding-right: 20px;
}

.post-header .month, .post-header .year{
  display: block;
  font-size: 12px;
  padding-right: 20px;
}

.post-images{
    border-top: 1px solid #aaa;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-images img{
  float: left;
}

.posts-container{
  width: 100%;
  font-family: "Gotham";
  padding-top: 25px;
  padding-bottom: 25px;
}

.posts-text-container{
  width: 100px;
  float: left;
}

.posts-header{
  width: 100%;
  position: relative;
}

.post-date{
  position: absolute;
  bottom: 0px;
  padding-top: 4px;
  padding-left: 40px;
  display: block;
  float:right;
  font-size: 48px;
  color: #888;
  text-transform: uppercase;
}

.post-under.post-border{
  border-top: 10px solid rgb(230, 230, 230);  
}

.post-under{
  width: 100px;
  text-align: right;
  display: block;
  padding-top: 5px;
  font-size: 24px;
  text-transform: uppercase;
  color: #bbb;
  line-height: 75%;
  float:right;
}

.post{
  float: right;
  width: 630px;
  padding-left: 30px;
}

.post-title{
  padding-bottom: 8px;
  float: left;
  font-family: "Proxima Nova Light";
  font-size: 40px;
}

.post-title-container{
  width: 630px;
  min-height: 35px;
  padding-left: 30px;
  float:right;
}

.post-body-container{
  width: 630px;
  min-height: 150px;
  float: right;
}

.post-body-metadata-container{
  width: 100%;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  font-family: "Proxima Nova Cond";
  padding: 0px;
  font-size: 14px;
  color: #bbb;
}

.post-body-metadata{
  float: left;
  padding: 10px 0;
}

.post-body-publicize{
  float: right;
  padding: 5px 10px 5px 0px;
}

.post-publicize.button{
  padding: 3px 5px;
  font-size: 12px;
}

.post-body{
  padding: 20px 0px;
  font-family: "Source Sans Pro";
}

.post-photos{
  display: block;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 10px;
}

.post-photo{
  float:left;
  padding-right: 10px;
}

.post-map .map_container{
  width: 630px;
  box-shadow: none;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.post-map .google-map{
  width: 630px;
  height: 300px;
  box-shadow: none;
  margin: 0px;
}

/* Corners of the accordion header */
.ui-corner-all, .ui-corner-top {
  border-radius: 0px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 0px;
  border-top: 1px solid #ccc;
  color: #888;
  font-size: 18px;
  font-family: "Source Sans Pro";
}


/* Collapsed header state */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 0px;
  border-top: 1px solid #ccc;
  color: #333;
  background: none;
  font-size: 18px;
  font-family: "Source Sans Pro";
}

.post-categories{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: block;
}

.post-categories .category-label{
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Proxima Nova Light";
  padding: 7px 10px 7px 6px;
  margin-right: 5px;
  float: left;
  color: #fff;
  background-color: #ccc;
}

.category{
  float: left;
  margin: 5px 5px 3px 0px;
  padding: 0 12px;
  border: 1px solid #ccc;
  background-color: #ddd;
  color: #777;
  font-size: 12px;
  font-family: "Source Sans Pro";
  border-radius: 20px;
}