.post-header{
  font-family: "calluna";
}

.show-post-image{
  display: block;
}

.show-post-content{
  padding: 20px 20px 20px 50px;
}

.post-header{
  float:left;
  font-size: 2.5em;
  border-right: 1px solid #666;
  text-align: center;
}

.post-header .date{
  display:block;
  font-size: 40px;
  padding-right: 20px;
}

.post-header .month, .post-header .year{
  display: block;
  font-size: 12px;
  padding-right: 20px;
}

.post-content{
  float: right;
  font-family: "Proxima Nova Cond";
  width: 620px;
}

.post-content .metadata{
  padding: 5px 0px;
  border-top: 1px dotted #aaa;
  border-bottom: 1px dotted #aaa;
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
}

.post-content .post-body{
  padding-top: 10px;
}

.post-images{
    border-top: 1px solid #aaa;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-images img{
  float: left;
}

.post-categories{
  border-top: 1px dotted #aaa;
  border-bottom: 1px dotted #aaa;
}

.post-categories .category-label{
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px;
  float: left;
  color: #fff;
  background-color: #aaa;
}

.post-categories .category{
  padding: 6px;
  font-size: 12px;
  float: left;
  text-decoration: underline;
}

