.new-stream{
  padding-left: 30px;
  float:left;
  border-bottom: 1px black dotted;
}

.new-stream-form{
  display: none;
}

.new-stream-form.active{
  display: block;
  padding-bottom: 10px;
}

.new-stream-link:hover{
  cursor: pointer;
}

#new-stream-name{
  border: 1px solid #aaa;
}

.streams-list{
  padding: 20px;
  clear:left;
}

.streams-list ul{
  list-style-type: none;
}