<%= stylesheet_link_tag "topbar", media: "all" %>

<section class="topbar clearfix">
  
  <div class="topbar-left">
  </div>

  <div class="topbar-right">

    <div class="topbar-flash">
      <%= render "layouts/topbar_flashes" %>
    </div>

    <div class="topbar-new">
      <div class="category-form">
        <form>
          <div class="new-category-button">
            <button class="blue-button create-category-button">Create Category</button>
          </div>
          <div class="create-category-field">
            <label class="input-label">Category Name</label>
            <input type="text" name="category[name]" class="input-field category-input-field">
          </div>
        </form>
      </div>
    </div>

</section>