<%= render "layouts/leftnavbar" %>

<section class="rightbar">
<%= render @category %>
</section>

<% content_for :scripts do %>
  <script>
      google.maps.visualRefresh = true;
  </script>
<% end %>