<header>
  <div class="header-text">
    L I F E S T R E A M
  </div>
</header>
<nav>
  <div class="navbar clearfix">
    <ul>
      <li class="home"><a href="#">Home</a></li>
      <li><a href="#">Sign In</a></li>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>