<header>
  <div class="header-text">
    L I F E S T R E A M
  </div>
</header>
<nav>
  <div class="navbar clearfix">
    <ul>
      <a href="#"><li class="home">Home</li></a>
      <a href="<%= new_user_session_url %>"><li>Sign In</li></a>
      <a href="<%= new_user_registration_url %>"><li>Sign Up</li></a>
      <a href="#"><li>Contact</li></a>
    </ul>
  </div>
</nav>