<% if flash[:alert] %>
  <div class="topbar-message error-message">
    <strong>Error: </strong> <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="topbar-message success-message">
    <strong>Success: </strong> <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:warning] %>
  <div class="topbar-message warning-message">
    <strong>Warning: </strong> <%= flash[:warning] %>
  </div>
<% end %>